<section class="mx-24">
    <h3 class="text-4xl mt-4 mb-4">Create A Painting Program</h3>
    <img class="w-1/3 mx-auto" src="assets/canvas.png">
    <ul>
      <li class="m-20"><span class="text-3xl font-semibold mr-5">Step 1:</span> Login to Scratch and click create to get a new project.
    </li>
      <li class="m-20 text-lg">
            <span class="text-3xl font-semibold">Step 2:</span> Delete the Scratch Cat Sprite and Add a pencil sprite with a second costume of a magic wand <span class="italic">(hint: For the second costume you will need to be in the Costume Editor Tab)</span>
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 3:</span> Add the special paint blocks to our project.
        <iframe class="w-1/2" src="https://scribehow.com/embed/How_to_Access_and_Perform_Actions_on_a_Website__LcXxEi2oQKOSYYV5gHlYfg" width="100%" height="640" allowfullscreen frameborder="0"></iframe>
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 4:</span>
        Now we will need to add our color changing Sprites. Find the button sprite and edit the costume for the color you want. <span class="italic">(I recommend you add one for each color in a rainbow.)</span>
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold ">Step 5:</span>
        Next we will need to create the action buttons for Draw, Erase, Increase Size, Decrease Size, and Erase All.
         <span class="italic">(hint: To add an image to a button you will need to copy and paste one costume onto another)</span>
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 6:</span>
        Set the size of all buttons to 50% and line them up in two neat rows at the bottom of the screen.
         <span class="italic">(hint: Each button takes up 50 pixels) </span> Optional: Add a rectangle with some color to the bottom of the backdrop sprite.
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 7:</span>
        Get the pencil sprite to follow the mouse around the screen, but only when the mouse is above the buttons.
         <span class="italic">(hint: You may need to check the Sensing and operational blocks. )</span>
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 8:</span>
        Next get the pencil to draw a black line on the screen when you hold down the mouse button.
        <span class="italic">(hint: This is where our new blocks will come in. )</span>
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 9:</span>
        Let's get our line color to change when we click one of the paint color blocks.Make sure that the color matches the one clicked.
        <span class="italic">(hint: It will probably be helpful here to have one sprite communicate to another. )</span>
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 10:  </span>
        Now we need to create the ability to erase when we click on the button with the magic wand. We will also want to change our pencil to the magic wand costume.
        <span class="italic">(hint: Think about erasing as drawing with white. )</span>
        <span class="italic">(hint: It will still probably be helpful here to have one sprite communicate to another. )</span>
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 11:  </span>
        Now let's get our pen size to increase when we click the plus button and decrease when we click the minus button.
        <span class="italic">(hint: It will still be helpful here to have one sprite communicate to another. )</span>
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 12:  </span>
        Finally, let's erase the canvas completely when the lightning bolt button is clicked. <span class="italic">(hint: Our newly added buttons for the pen will be helpful here. )</span>
      </li>
    </ul>
    <h4 class="text-3xl mt-4 mb-4 text-red-600">Bugs To Look Out For</h4>
    <ul>
        <li class="mx-20 my-2 list-disc text-lg">Canvas not erasing when we begin.</li>
        <li class="mx-20 my-2 list-disc text-lg">Incorrect costume shows for draw.</li>
        <li class="mx-20 my-2 list-disc text-lg">Pencil continues to follow mouse even when attempting to click on buttons.</li>

    </ul>
    <h4 class="text-3xl mt-4 mb-4 text-cyan-700">Ways to Customize</h4>
    <ul>
        <li class="mx-20 my-2 list-disc text-lg">Change your pencil costumes to match the color it is drawing with.</li>
        <li class="mx-20 my-2 list-disc text-lg">Add a button to create stamps.</li>
        <li class="mx-20 my-2 list-disc text-lg">Show the pen size as a variable.</li>
        <li class="mx-20 my-2 list-disc text-lg">Add another button that let's you enter the number for pen size.</li>
    </ul>
  </section>

