<section>
  <h1>Computational Thinking With Scratch</h1>
  <h3>Getting To Know The Blocks</h3>
  <ol>
    <li>
      <p>Have Scratch Cat ask for your name and then repeat it.</p>
      <img src="assets/talkingCat1.gif" />
    </li>
    <li>
      <p>
        Have Scratch Cat ask for your name and then say Hello to the person
        entering the name.
      </p>
      <img src="assets/talkingCat2.gif" />
    </li>
    <li>
      <p>
        Get Scratch Cat to walk continously in a circle with one button click
      </p>
      <img src="assets\runCircle1.gif" />
    </li>
    <li>
      <p>
        Get Scratch Cat to walk in a circle pause to say hello, then continue in
        the circle
      </p>
      <img src="assets/runCircle2.gif" />
    </li>
    <li>
      <p>
        Get Scratch Cat to walk in a circle pause to say hello when the space
        bar is pressed, then stop circling
      </p>
      <img src="assets/runCircle3.gif" />
    </li>
  </ol>
  <h3>Using Clones</h3>
  <ol>
    <li>
      <p>
        Start Scratch Cat at the center of the screen and create a clone that moves 10 steps if it is less than 100 steps from the center
      </p>
      <img src="assets/clone1.gif" />
    </li>
    <li>
      <p>
        Now make Scratch look like he is getting closer to you when the clone moves.
      </p>
      <img src="assets/clone2.gif" />
    </li>
    <li>
      <p>
        Use the ghost effect to make Scratch Cat look like he is running very fast towards you.
      </p>
      <img src="assets/clone3.gif" />
    </li>
  </ol>
</section>
