<section class="mx-24">
    <h3 class="text-4xl mt-4 mb-4">Create A Gif with Costume Editor</h3>
    <ol class="my-5">
      <li><a [href]="unit.starterLink">Remix the starter project on Scratch</a></li>
    </ol>
    <ul>
      <li class=" grid grid-cols-2 m-20">
        <h3 class="text-center text-xl align-middle h-full w-full">Step 1: Draw the Milk Carton</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rgrNyecq6qk?si=tdCXr-7YKLMkQzBM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </li>
      <li class=" grid grid-cols-2 m-20">
        <h3 class="text-center text-xl">Step 2: Draw the Cookie!</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yBjVmMn1crs?si=6_oSXoOLE58C3l0E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </li>
      <li class=" grid grid-cols-2 m-20">
        <h3 class="text-center text-xl">Step 3: Animate the Milk Carton!</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Lt58eM7-FEo?si=1an4PJJcblez00Pu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </li>
      <li class=" grid grid-cols-2 m-20">
        <h3 class="text-center text-xl">Step 4: Animate the Cookie!</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9ERpZcyvNpw?si=KxFvgQOsDMN4j1zH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </li>
      <li class=" grid grid-cols-2 m-20">
        <h3 class="text-center text-xl">Step 5: Test It Out!</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MwN_-Nn9QaQ?si=wJqG3ZWuGE1fi7tt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </li>
    </ul>
  </section>
