<section class="mx-24">
    <h3 class="text-4xl mt-4 mb-4">Create A Game to Play with a Friend</h3>

    <ul>
      <li class="m-20"><span class="text-3xl font-semibold mr-5">Step 1:</span>     <button
        type="button"
        class="inline-block rounded bg-cyan-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-cyan-400 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-cyan-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"><a class="text-neutral-900 mb-7" [href]="unit.starterLink" target="_blank">Remix Starter Project</a></button></li>
      <li class="m-20 text-lg">
            <span class="text-3xl font-semibold">Step 2:</span> Get the downBar Sprite to move left and right with the arrow keys. <ctfk-colored-circle color="bg-ctfk-motion" tooltipText="Motion Block"></ctfk-colored-circle>
            <!-- <span class="italic">(hint: you will need a loop and an if block)</span> -->
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 3:</span> Apply the same movement to the up block but use different keys.
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 4:</span>
        Get the ball to move around the screen and bounce if touching the edge
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold ">Step 5:</span>
        Get the ball to change direction if it hits one of the bars. <span class="italic">(hint: think about how you get the sprite to face in the opposite direction</span>
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 6:</span>
        Keep track of the score if the ball passes one of the players <span class="italic">(hint: you will need to create a couple of variables. </span>
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 7:</span>
        Get the ball to speed up after being returned by one of the players. <span class="italic">(hint: Think about what determines the ball's speed and how you can increase it.</span>
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 8:</span>
        Reset the ball speed and position after a point is scored.
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 9:</span>
        Give the players time to reset after a point is scored.
      </li>
      <li class="m-20 text-lg">
        <span class="text-3xl font-semibold">Step 10: Ending the Game </span>
        End the Game and show who wins when a score you pick is reached.
      </li>
    </ul>
  </section>
