<div class="p-32 mx-24 bg-white text-black">

    <h3 class="text-3xl">I'm Stuck, Now What...</h3>
    <h4 class="text-xl italic">Before you ask for help you should...</h4>
    <ol class="list-decimal text-start p-1">
        <li class="my-20 mx-18 text-lg">
            Make sure you can describe the thing that is confusing you.
            <ul>
              <li class="italic text-sm"> What are you trying to do? </li>
              <li class="italic text-sm"> Where are you stuck?</li>
               <li class="italic text-sm">
                What have you tried?</li>
            </ul>
      </li>
      <li class="my-20 mx-18 text-lg">
        Can you break the problem into smaller parts?
      </li>
      <li class="my-20 mx-18 text-lg">
        Is there a simpler part of the problem you know how to make work? Try building from there.
      </li>
      <li class="my-20 mx-18 text-lg">
        Explain how you are stuck, what you have tried, and what you are trying to do to a friend.
      </li>
    </ol>
</div>
